*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family:sans-serif;
}

.container{
    background-color: whitesmoke;
    width: 400px;
    border-radius: 5px;
}

h1{
    margin: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 24px;
}

.user{
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.user label{
    margin-bottom: 4px;
    font-size: 12px;
}

.user input{
    height: 30px;
}

.user select{
    height: 30px;
}

button {
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 40px;
    cursor: pointer;
}